<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hysro.ajkeeping.mapper.AjStudentCheckInStatisticMapper">

    <resultMap type="AjStudentCheckInStatistic" id="AjStudentCheckInStatisticResult">
        <result property="id"    column="id"    />
        <result property="baseCheckInId"    column="base_check_in_id"    />
        <result property="studentId"    column="student_id"    />
        <result property="studentName"    column="student_name"    />
        <result property="checkInSumDays"    column="check_in_sum_days"    />
        <result property="checkInTimes"    column="check_in_times"    />
        <result property="checkInBeginDate"    column="check_in_begin_date"    />
        <result property="checkInEndDate"    column="check_in_end_date"    />
        <result property="leaveDays"    column="leave_days"    />
        <result property="billStatus"    column="bill_status"    />
        <result property="paymentStatus"    column="payment_status"    />
    </resultMap>

    <sql id="selectAjStudentCheckInStatisticVo">
        select id, base_check_in_id, student_id, student_name, check_in_sum_days, check_in_times, check_in_begin_date, check_in_end_date, leave_days, bill_status, payment_status from aj_student_check_in_statistic
    </sql>

    <select id="selectAjStudentCheckInStatisticList" parameterType="AjStudentCheckInStatistic" resultMap="AjStudentCheckInStatisticResult">
        <include refid="selectAjStudentCheckInStatisticVo"/>
        <where>
            <if test="baseCheckInId != null "> and base_check_in_id = #{baseCheckInId}</if>
            <if test="studentId != null "> and student_id = #{studentId}</if>
            <if test="studentName != null  and studentName != ''"> and student_name like concat('%', #{studentName}, '%')</if>
            <if test="checkInSumDays != null "> and check_in_sum_days = #{checkInSumDays}</if>
            <if test="checkInTimes != null "> and check_in_times = #{checkInTimes}</if>
            <if test="checkInBeginDate != null "> and check_in_begin_date = #{checkInBeginDate}</if>
            <if test="checkInEndDate != null "> and check_in_end_date = #{checkInEndDate}</if>
            <if test="leaveDays != null "> and leave_days = #{leaveDays}</if>
            <if test="billStatus != null "> and bill_status = #{billStatus}</if>
            <if test="paymentStatus != null "> and payment_status = #{paymentStatus}</if>
        </where>
        order by id desc
    </select>

    <select id="selectAjStudentCheckInStatisticById" parameterType="Long" resultMap="AjStudentCheckInStatisticResult">
        <include refid="selectAjStudentCheckInStatisticVo"/>
        where id = #{id}
    </select>

    <insert id="insertAjStudentCheckInStatistic" parameterType="AjStudentCheckInStatistic" useGeneratedKeys="true" keyProperty="id">
        insert into aj_student_check_in_statistic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="baseCheckInId != null">base_check_in_id,</if>
            <if test="studentId != null">student_id,</if>
            <if test="studentName != null">student_name,</if>
            <if test="checkInSumDays != null">check_in_sum_days,</if>
            <if test="checkInTimes != null">check_in_times,</if>
            <if test="checkInBeginDate != null">check_in_begin_date,</if>
            <if test="checkInEndDate != null">check_in_end_date,</if>
            <if test="leaveDays != null">leave_days,</if>
            <if test="billStatus != null">bill_status,</if>
            <if test="paymentStatus != null">payment_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="baseCheckInId != null">#{baseCheckInId},</if>
            <if test="studentId != null">#{studentId},</if>
            <if test="studentName != null">#{studentName},</if>
            <if test="checkInSumDays != null">#{checkInSumDays},</if>
            <if test="checkInTimes != null">#{checkInTimes},</if>
            <if test="checkInBeginDate != null">#{checkInBeginDate},</if>
            <if test="checkInEndDate != null">#{checkInEndDate},</if>
            <if test="leaveDays != null">#{leaveDays},</if>
            <if test="billStatus != null">#{billStatus},</if>
            <if test="paymentStatus != null">#{paymentStatus},</if>
         </trim>
    </insert>

    <update id="updateAjStudentCheckInStatistic" parameterType="AjStudentCheckInStatistic">
        update aj_student_check_in_statistic
        <trim prefix="SET" suffixOverrides=",">
            <if test="baseCheckInId != null">base_check_in_id = #{baseCheckInId},</if>
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="studentName != null">student_name = #{studentName},</if>
            <if test="checkInSumDays != null">check_in_sum_days = #{checkInSumDays},</if>
            <if test="checkInTimes != null">check_in_times = #{checkInTimes},</if>
            <if test="checkInBeginDate != null">check_in_begin_date = #{checkInBeginDate},</if>
            <if test="checkInEndDate != null">check_in_end_date = #{checkInEndDate},</if>
            <if test="leaveDays != null">leave_days = #{leaveDays},</if>
            <if test="billStatus != null">bill_status = #{billStatus},</if>
            <if test="paymentStatus != null">payment_status = #{paymentStatus},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAjStudentCheckInStatisticById" parameterType="Long">
        delete from aj_student_check_in_statistic where id = #{id}
    </delete>

    <delete id="deleteAjStudentCheckInStatisticByIds" parameterType="String">
        delete from aj_student_check_in_statistic where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
