<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hysro.ajkeeping.mapper.AjTeacherCheckInMapper">

    <resultMap type="AjTeacherCheckIn" id="AjTeacherCheckInResult">
        <result property="teacherCheckInId"    column="teacher_check_in_id"    />
        <result property="teacherId"    column="teacher_id"    />
        <result property="teacherName"    column="teacher_name"    />
        <result property="checkInDate"    column="check_in_date"    />
        <result property="checkInStatus"    column="check_in_status"    />
        <result property="checkInDatetime"    column="check_in_datetime"    />
        <result property="checkInDayOnDutyTimes"    column="check_in_day_on_duty_times"    />
    </resultMap>

    <sql id="selectAjTeacherCheckInVo">
        select teacher_check_in_id, teacher_id, teacher_name, check_in_date, check_in_status, check_in_datetime, check_in_day_on_duty_times from aj_teacher_check_in
    </sql>

    <select id="selectAjTeacherCheckInList" parameterType="AjTeacherCheckIn" resultMap="AjTeacherCheckInResult">
        <include refid="selectAjTeacherCheckInVo"/>
        <where>
            <if test="teacherId != null "> and teacher_id = #{teacherId}</if>
            <if test="teacherName != null  and teacherName != ''"> and teacher_name like concat('%', #{teacherName}, '%')</if>
            <if test="checkInDate != null "> and check_in_date = #{checkInDate}</if>
            <if test="checkInStatus != null "> and check_in_status = #{checkInStatus}</if>
            <if test="checkInDatetime != null "> and check_in_datetime = #{checkInDatetime}</if>
            <if test="checkInDayOnDutyTimes != null "> and check_in_day_on_duty_times = #{checkInDayOnDutyTimes}</if>
        </where>
        order by teacher_check_in_id desc
    </select>

    <select id="selectAjTeacherCheckInByTeacherCheckInId" parameterType="Long" resultMap="AjTeacherCheckInResult">
        <include refid="selectAjTeacherCheckInVo"/>
        where teacher_check_in_id = #{teacherCheckInId}
    </select>

    <select id="countTeacherCheckinOrLeaveTimes" resultType="Integer">
        SELECT COUNT(teacher_name)
        FROM `aj_teacher_check_in`
        WHERE check_in_date BETWEEN #{checkInBeginDate} AND #{checkInEndDate} AND teacher_id = #{teacherId} AND check_in_status = #{checkInStatus}
    </select>

    <select id="countTeacherOnDutyTimes" resultType="Integer">
        SELECT IFNULL(SUM(check_in_day_on_duty_times),0)
        FROM `aj_teacher_check_in`
        WHERE check_in_date BETWEEN #{checkInBeginDate} AND #{checkInEndDate} AND teacher_id = #{teacherId}
    </select>

    <insert id="insertAjTeacherCheckIn" parameterType="AjTeacherCheckIn" useGeneratedKeys="true" keyProperty="teacherCheckInId">
        insert into aj_teacher_check_in
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teacherId != null">teacher_id,</if>
            <if test="teacherName != null">teacher_name,</if>
            <if test="checkInDate != null">check_in_date,</if>
            <if test="checkInStatus != null">check_in_status,</if>
            <if test="checkInDatetime != null">check_in_datetime,</if>
            <if test="checkInDayOnDutyTimes != null">check_in_day_on_duty_times,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teacherId != null">#{teacherId},</if>
            <if test="teacherName != null">#{teacherName},</if>
            <if test="checkInDate != null">#{checkInDate},</if>
            <if test="checkInStatus != null">#{checkInStatus},</if>
            <if test="checkInDatetime != null">#{checkInDatetime},</if>
            <if test="checkInDayOnDutyTimes != null">#{checkInDayOnDutyTimes},</if>
         </trim>
    </insert>

    <update id="updateAjTeacherCheckIn" parameterType="AjTeacherCheckIn">
        update aj_teacher_check_in
        <trim prefix="SET" suffixOverrides=",">
            <if test="teacherId != null">teacher_id = #{teacherId},</if>
            <if test="teacherName != null">teacher_name = #{teacherName},</if>
            <if test="checkInDate != null">check_in_date = #{checkInDate},</if>
            <if test="checkInStatus != null">check_in_status = #{checkInStatus},</if>
            <if test="checkInDatetime != null">check_in_datetime = #{checkInDatetime},</if>
            <if test="checkInDayOnDutyTimes != null">check_in_day_on_duty_times = #{checkInDayOnDutyTimes},</if>
        </trim>
        where teacher_check_in_id = #{teacherCheckInId}
    </update>

    <delete id="deleteAjTeacherCheckInByTeacherCheckInId" parameterType="Long">
        delete from aj_teacher_check_in where teacher_check_in_id = #{teacherCheckInId}
    </delete>

    <delete id="deleteAjTeacherCheckInByTeacherCheckInIds" parameterType="String">
        delete from aj_teacher_check_in where teacher_check_in_id in
        <foreach item="teacherCheckInId" collection="array" open="(" separator="," close=")">
            #{teacherCheckInId}
        </foreach>
    </delete>
</mapper>
