<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hysro.ajkeeping.mapper.AjTeacherCheckInStatisticMapper">
    
    <resultMap type="AjTeacherCheckInStatistic" id="AjTeacherCheckInStatisticResult">
        <result property="id"    column="id"    />
        <result property="baseCheckInId"    column="base_check_in_id"    />
        <result property="teacherId"    column="teacher_id"    />
        <result property="teacherName"    column="teacher_name"    />
        <result property="checkInSumDays"    column="check_in_sum_days"    />
        <result property="checkInTimes"    column="check_in_times"    />
        <result property="checkInBeginDate"    column="check_in_begin_date"    />
        <result property="checkInEndDate"    column="check_in_end_date"    />
        <result property="leaveDays"    column="leave_days"    />
        <result property="onDutyTimes"    column="on_duty_times"    />
        <result property="billStatus"    column="bill_status"    />
        <result property="paymentStatus"    column="payment_status"    />
    </resultMap>

    <sql id="selectAjTeacherCheckInStatisticVo">
        select id, base_check_in_id, teacher_id, teacher_name, check_in_sum_days, check_in_times, check_in_begin_date, check_in_end_date, leave_days, on_duty_times, bill_status, payment_status from aj_teacher_check_in_statistic
    </sql>

    <select id="selectAjTeacherCheckInStatisticList" parameterType="AjTeacherCheckInStatistic" resultMap="AjTeacherCheckInStatisticResult">
        <include refid="selectAjTeacherCheckInStatisticVo"/>
        <where>  
            <if test="baseCheckInId != null "> and base_check_in_id = #{baseCheckInId}</if>
            <if test="teacherId != null "> and teacher_id = #{teacherId}</if>
            <if test="teacherName != null  and teacherName != ''"> and teacher_name like concat('%', #{teacherName}, '%')</if>
            <if test="checkInSumDays != null "> and check_in_sum_days = #{checkInSumDays}</if>
            <if test="checkInTimes != null "> and check_in_times = #{checkInTimes}</if>
            <if test="checkInBeginDate != null "> and check_in_begin_date = #{checkInBeginDate}</if>
            <if test="checkInEndDate != null "> and check_in_end_date = #{checkInEndDate}</if>
            <if test="leaveDays != null "> and leave_days = #{leaveDays}</if>
            <if test="onDutyTimes != null "> and on_duty_times = #{onDutyTimes}</if>
            <if test="billStatus != null "> and bill_status = #{billStatus}</if>
            <if test="paymentStatus != null "> and payment_status = #{paymentStatus}</if>
        </where>
    </select>
    
    <select id="selectAjTeacherCheckInStatisticById" parameterType="Long" resultMap="AjTeacherCheckInStatisticResult">
        <include refid="selectAjTeacherCheckInStatisticVo"/>
        where id = #{id}
    </select>

    <insert id="insertAjTeacherCheckInStatistic" parameterType="AjTeacherCheckInStatistic" useGeneratedKeys="true" keyProperty="id">
        insert into aj_teacher_check_in_statistic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="baseCheckInId != null">base_check_in_id,</if>
            <if test="teacherId != null">teacher_id,</if>
            <if test="teacherName != null">teacher_name,</if>
            <if test="checkInSumDays != null">check_in_sum_days,</if>
            <if test="checkInTimes != null">check_in_times,</if>
            <if test="checkInBeginDate != null">check_in_begin_date,</if>
            <if test="checkInEndDate != null">check_in_end_date,</if>
            <if test="leaveDays != null">leave_days,</if>
            <if test="onDutyTimes != null">on_duty_times,</if>
            <if test="billStatus != null">bill_status,</if>
            <if test="paymentStatus != null">payment_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="baseCheckInId != null">#{baseCheckInId},</if>
            <if test="teacherId != null">#{teacherId},</if>
            <if test="teacherName != null">#{teacherName},</if>
            <if test="checkInSumDays != null">#{checkInSumDays},</if>
            <if test="checkInTimes != null">#{checkInTimes},</if>
            <if test="checkInBeginDate != null">#{checkInBeginDate},</if>
            <if test="checkInEndDate != null">#{checkInEndDate},</if>
            <if test="leaveDays != null">#{leaveDays},</if>
            <if test="onDutyTimes != null">#{onDutyTimes},</if>
            <if test="billStatus != null">#{billStatus},</if>
            <if test="paymentStatus != null">#{paymentStatus},</if>
         </trim>
    </insert>

    <update id="updateAjTeacherCheckInStatistic" parameterType="AjTeacherCheckInStatistic">
        update aj_teacher_check_in_statistic
        <trim prefix="SET" suffixOverrides=",">
            <if test="baseCheckInId != null">base_check_in_id = #{baseCheckInId},</if>
            <if test="teacherId != null">teacher_id = #{teacherId},</if>
            <if test="teacherName != null">teacher_name = #{teacherName},</if>
            <if test="checkInSumDays != null">check_in_sum_days = #{checkInSumDays},</if>
            <if test="checkInTimes != null">check_in_times = #{checkInTimes},</if>
            <if test="checkInBeginDate != null">check_in_begin_date = #{checkInBeginDate},</if>
            <if test="checkInEndDate != null">check_in_end_date = #{checkInEndDate},</if>
            <if test="leaveDays != null">leave_days = #{leaveDays},</if>
            <if test="onDutyTimes != null">on_duty_times = #{onDutyTimes},</if>
            <if test="billStatus != null">bill_status = #{billStatus},</if>
            <if test="paymentStatus != null">payment_status = #{paymentStatus},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAjTeacherCheckInStatisticById" parameterType="Long">
        delete from aj_teacher_check_in_statistic where id = #{id}
    </delete>

    <delete id="deleteAjTeacherCheckInStatisticByIds" parameterType="String">
        delete from aj_teacher_check_in_statistic where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>