<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hysro.ajkeeping.mapper.AjCostTemplateMapper">

    <resultMap type="AjCostTemplate" id="AjCostTemplateResult">
        <result property="costTemplateId"    column="cost_template_id"    />
        <result property="costTemplateName"    column="cost_template_name"    />
        <result property="costFeePerDay"    column="cost_fee_per_day"    />
        <result property="costUseFeePerDay"    column="cost_use_fee_per_day"    />
        <result property="costFeePerLesson"    column="cost_fee_per_lesson"    />
        <result property="costUseFeePerLesson"    column="cost_use_fee_per_lesson"    />
        <result property="costFoodFee"    column="cost_food_fee"    />
        <result property="costTextbooksFee"    column="cost_textbooks_fee"    />
        <result property="costFeePerMonth"    column="cost_fee_per_month"    />
        <result property="costUseFeePerMonth"    column="cost_use_fee_per_month"    />
        <result property="costUseGrade"    column="cost_use_grade"    />
        <result property="costDefault"    column="cost_default"    />
    </resultMap>

    <sql id="selectAjCostTemplateVo">
        select cost_template_id, cost_template_name, cost_fee_per_day, cost_use_fee_per_day, cost_fee_per_lesson, cost_use_fee_per_lesson, cost_food_fee, cost_textbooks_fee, cost_fee_per_month, cost_use_fee_per_month, cost_use_grade, cost_default from aj_cost_template
    </sql>

    <select id="selectAjCostTemplateList" parameterType="AjCostTemplate" resultMap="AjCostTemplateResult">
        <include refid="selectAjCostTemplateVo"/>
        <where>
            <if test="costTemplateName != null  and costTemplateName != ''"> and cost_template_name like concat('%', #{costTemplateName}, '%')</if>
            <if test="costFeePerDay != null "> and cost_fee_per_day = #{costFeePerDay}</if>
            <if test="costUseFeePerDay != null "> and cost_use_fee_per_day = #{costUseFeePerDay}</if>
            <if test="costFeePerLesson != null "> and cost_fee_per_lesson = #{costFeePerLesson}</if>
            <if test="costUseFeePerLesson != null "> and cost_use_fee_per_lesson = #{costUseFeePerLesson}</if>
            <if test="costFoodFee != null "> and cost_food_fee = #{costFoodFee}</if>
            <if test="costTextbooksFee != null "> and cost_textbooks_fee = #{costTextbooksFee}</if>
            <if test="costFeePerMonth != null "> and cost_fee_per_month = #{costFeePerMonth}</if>
            <if test="costUseFeePerMonth != null "> and cost_use_fee_per_month = #{costUseFeePerMonth}</if>
            <if test="costUseGrade != null  and costUseGrade != ''"> and cost_use_grade = #{costUseGrade}</if>
            <if test="costDefault != null "> and cost_default = #{costDefault}</if>
        </where>
        order by cost_template_id DESC
    </select>

    <select id="selectSimpleAjCostTemplateList" resultMap="AjCostTemplateResult">
        select cost_template_id, cost_template_name, cost_use_grade from aj_cost_template
    </select>

    <select id="selectAjCostTemplateByCostTemplateId" parameterType="Long" resultMap="AjCostTemplateResult">
        <include refid="selectAjCostTemplateVo"/>
        where cost_template_id = #{costTemplateId}
    </select>

    <insert id="insertAjCostTemplate" parameterType="AjCostTemplate" useGeneratedKeys="true" keyProperty="costTemplateId">
        insert into aj_cost_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="costTemplateName != null">cost_template_name,</if>
            <if test="costFeePerDay != null">cost_fee_per_day,</if>
            <if test="costUseFeePerDay != null">cost_use_fee_per_day,</if>
            <if test="costFeePerLesson != null">cost_fee_per_lesson,</if>
            <if test="costUseFeePerLesson != null">cost_use_fee_per_lesson,</if>
            <if test="costFoodFee != null">cost_food_fee,</if>
            <if test="costTextbooksFee != null">cost_textbooks_fee,</if>
            <if test="costFeePerMonth != null">cost_fee_per_month,</if>
            <if test="costUseFeePerMonth != null">cost_use_fee_per_month,</if>
            <if test="costUseGrade != null">cost_use_grade,</if>
            <if test="costDefault != null">cost_default,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="costTemplateName != null">#{costTemplateName},</if>
            <if test="costFeePerDay != null">#{costFeePerDay},</if>
            <if test="costUseFeePerDay != null">#{costUseFeePerDay},</if>
            <if test="costFeePerLesson != null">#{costFeePerLesson},</if>
            <if test="costUseFeePerLesson != null">#{costUseFeePerLesson},</if>
            <if test="costFoodFee != null">#{costFoodFee},</if>
            <if test="costTextbooksFee != null">#{costTextbooksFee},</if>
            <if test="costFeePerMonth != null">#{costFeePerMonth},</if>
            <if test="costUseFeePerMonth != null">#{costUseFeePerMonth},</if>
            <if test="costUseGrade != null">#{costUseGrade},</if>
            <if test="costDefault != null">#{costDefault},</if>
         </trim>
    </insert>

    <update id="updateAjCostTemplate" parameterType="AjCostTemplate">
        update aj_cost_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="costTemplateName != null">cost_template_name = #{costTemplateName},</if>
            <if test="costFeePerDay != null">cost_fee_per_day = #{costFeePerDay},</if>
            <if test="costUseFeePerDay != null">cost_use_fee_per_day = #{costUseFeePerDay},</if>
            <if test="costFeePerLesson != null">cost_fee_per_lesson = #{costFeePerLesson},</if>
            <if test="costUseFeePerLesson != null">cost_use_fee_per_lesson = #{costUseFeePerLesson},</if>
            <if test="costFoodFee != null">cost_food_fee = #{costFoodFee},</if>
            <if test="costTextbooksFee != null">cost_textbooks_fee = #{costTextbooksFee},</if>
            <if test="costFeePerMonth != null">cost_fee_per_month = #{costFeePerMonth},</if>
            <if test="costUseFeePerMonth != null">cost_use_fee_per_month = #{costUseFeePerMonth},</if>
            <if test="costUseGrade != null">cost_use_grade = #{costUseGrade},</if>
            <if test="costDefault != null">cost_default = #{costDefault},</if>
        </trim>
        where cost_template_id = #{costTemplateId}
    </update>

    <delete id="deleteAjCostTemplateByCostTemplateId" parameterType="Long">
        delete from aj_cost_template where cost_template_id = #{costTemplateId}
    </delete>

    <delete id="deleteAjCostTemplateByCostTemplateIds" parameterType="String">
        delete from aj_cost_template where cost_template_id in
        <foreach item="costTemplateId" collection="array" open="(" separator="," close=")">
            #{costTemplateId}
        </foreach>
    </delete>
</mapper>
