<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hysro.ajkeeping.mapper.AjStudentBillMapper">

    <resultMap type="AjStudentBill" id="AjStudentBillResult">
        <result property="id"    column="id"    />
        <result property="studentId"    column="student_id"    />
        <result property="studentName"    column="student_name"    />
        <result property="checkInStatisticId"    column="check_in_statistic_id"    />
        <result property="checkInBeginDate"    column="check_in_begin_date"    />
        <result property="checkInEndDate"    column="check_in_end_date"    />
        <result property="checkInTimes"    column="check_in_times"    />
        <result property="leaveTimes"    column="leave_times"    />
        <result property="countAsCheckInTimes"    column="count_as_check_in_times"    />
        <result property="perMonthFee"    column="per_month_fee"    />
        <result property="perDayFee"    column="per_day_fee"    />
        <result property="textbookFee"    column="textbook_fee"    />
        <result property="foodFee"    column="food_fee"    />
        <result property="billFee"    column="bill_fee"    />
        <result property="advanceFee"    column="advance_fee"    />
        <result property="coupon"    column="coupon"    />
        <result property="actualPerMonthFee"    column="actual_per_month_fee"    />
        <result property="actualPerDayFee"    column="actual_per_day_fee"    />
        <result property="actualTextbookFee"    column="actual_textbook_fee"    />
        <result property="actualFoodFee"    column="actual_food_fee"    />
        <result property="acutalBillFee"    column="acutal_bill_fee"    />
        <result property="billStatus"    column="bill_status"    />
        <result property="billMode"    column="bill_mode"    />
        <result property="billEvidence"    column="bill_evidence"    />
        <result property="checkInBaseId"    column="check_in_base_id"    />
    </resultMap>

    <sql id="selectAjStudentBillVo">
        select id, student_id, student_name, check_in_statistic_id, check_in_begin_date, check_in_end_date, check_in_times, leave_times, count_as_check_in_times, per_month_fee, per_day_fee, textbook_fee, food_fee, bill_fee, advance_fee, coupon, actual_per_month_fee, actual_per_day_fee, actual_textbook_fee, actual_food_fee, acutal_bill_fee, bill_status, bill_mode, bill_evidence, check_in_base_id from aj_student_bill
    </sql>

    <select id="selectAjStudentBillList" parameterType="AjStudentBill" resultMap="AjStudentBillResult">
        <include refid="selectAjStudentBillVo"/>
        <where>
            <if test="studentId != null "> and student_id = #{studentId}</if>
            <if test="studentName != null  and studentName != ''"> and student_name like concat('%', #{studentName}, '%')</if>
            <if test="checkInStatisticId != null "> and check_in_statistic_id = #{checkInStatisticId}</if>
            <if test="checkInBeginDate != null "> and check_in_begin_date = #{checkInBeginDate}</if>
            <if test="checkInEndDate != null "> and check_in_end_date = #{checkInEndDate}</if>
            <if test="checkInTimes != null "> and check_in_times = #{checkInTimes}</if>
            <if test="leaveTimes != null "> and leave_times = #{leaveTimes}</if>
            <if test="countAsCheckInTimes != null "> and count_as_check_in_times = #{countAsCheckInTimes}</if>
            <if test="perMonthFee != null "> and per_month_fee = #{perMonthFee}</if>
            <if test="perDayFee != null "> and per_day_fee = #{perDayFee}</if>
            <if test="textbookFee != null "> and textbook_fee = #{textbookFee}</if>
            <if test="foodFee != null "> and food_fee = #{foodFee}</if>
            <if test="billFee != null "> and bill_fee = #{billFee}</if>
            <if test="advanceFee != null "> and advance_fee = #{advanceFee}</if>
            <if test="coupon != null "> and coupon = #{coupon}</if>
            <if test="actualPerMonthFee != null "> and actual_per_month_fee = #{actualPerMonthFee}</if>
            <if test="actualPerDayFee != null "> and actual_per_day_fee = #{actualPerDayFee}</if>
            <if test="actualTextbookFee != null "> and actual_textbook_fee = #{actualTextbookFee}</if>
            <if test="actualFoodFee != null "> and actual_food_fee = #{actualFoodFee}</if>
            <if test="acutalBillFee != null "> and acutal_bill_fee = #{acutalBillFee}</if>
            <if test="billStatus != null "> and bill_status = #{billStatus}</if>
            <if test="billMode != null "> and bill_mode = #{billMode}</if>
            <if test="billEvidence != null  and billEvidence != ''"> and bill_evidence = #{billEvidence}</if>
            <if test="checkInBaseId != null "> and check_in_base_id = #{checkInBaseId}</if>
        </where>
        order by id desc
    </select>

    <select id="selectAjStudentBillById" parameterType="Long" resultMap="AjStudentBillResult">
        <include refid="selectAjStudentBillVo"/>
        where id = #{id}
    </select>

    <select id="countAjStudentBill" parameterType="Long">
        SELECT COUNT(id) FROM aj_student_bill
        where check_in_base_id = #{checkInBaseId}
    </select>

    <select id="countAjStudentBillWithConditionPay" parameterType="Long">
        SELECT COUNT(id) FROM aj_student_bill
        where check_in_base_id = #{checkInBaseId} AND bill_status = 1
    </select>

    <insert id="insertAjStudentBill" parameterType="AjStudentBill" useGeneratedKeys="true" keyProperty="id">
        insert into aj_student_bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="studentId != null">student_id,</if>
            <if test="studentName != null">student_name,</if>
            <if test="checkInStatisticId != null">check_in_statistic_id,</if>
            <if test="checkInBeginDate != null">check_in_begin_date,</if>
            <if test="checkInEndDate != null">check_in_end_date,</if>
            <if test="checkInTimes != null">check_in_times,</if>
            <if test="leaveTimes != null">leave_times,</if>
            <if test="countAsCheckInTimes != null">count_as_check_in_times,</if>
            <if test="perMonthFee != null">per_month_fee,</if>
            <if test="perDayFee != null">per_day_fee,</if>
            <if test="textbookFee != null">textbook_fee,</if>
            <if test="foodFee != null">food_fee,</if>
            <if test="billFee != null">bill_fee,</if>
            <if test="advanceFee != null">advance_fee,</if>
            <if test="coupon != null">coupon,</if>
            <if test="actualPerMonthFee != null">actual_per_month_fee,</if>
            <if test="actualPerDayFee != null">actual_per_day_fee,</if>
            <if test="actualTextbookFee != null">actual_textbook_fee,</if>
            <if test="actualFoodFee != null">actual_food_fee,</if>
            <if test="acutalBillFee != null">acutal_bill_fee,</if>
            <if test="billStatus != null">bill_status,</if>
            <if test="billMode != null">bill_mode,</if>
            <if test="billEvidence != null">bill_evidence,</if>
            <if test="checkInBaseId != null">check_in_base_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="studentId != null">#{studentId},</if>
            <if test="studentName != null">#{studentName},</if>
            <if test="checkInStatisticId != null">#{checkInStatisticId},</if>
            <if test="checkInBeginDate != null">#{checkInBeginDate},</if>
            <if test="checkInEndDate != null">#{checkInEndDate},</if>
            <if test="checkInTimes != null">#{checkInTimes},</if>
            <if test="leaveTimes != null">#{leaveTimes},</if>
            <if test="countAsCheckInTimes != null">#{countAsCheckInTimes},</if>
            <if test="perMonthFee != null">#{perMonthFee},</if>
            <if test="perDayFee != null">#{perDayFee},</if>
            <if test="textbookFee != null">#{textbookFee},</if>
            <if test="foodFee != null">#{foodFee},</if>
            <if test="billFee != null">#{billFee},</if>
            <if test="advanceFee != null">#{advanceFee},</if>
            <if test="coupon != null">#{coupon},</if>
            <if test="actualPerMonthFee != null">#{actualPerMonthFee},</if>
            <if test="actualPerDayFee != null">#{actualPerDayFee},</if>
            <if test="actualTextbookFee != null">#{actualTextbookFee},</if>
            <if test="actualFoodFee != null">#{actualFoodFee},</if>
            <if test="acutalBillFee != null">#{acutalBillFee},</if>
            <if test="billStatus != null">#{billStatus},</if>
            <if test="billMode != null">#{billMode},</if>
            <if test="billEvidence != null">#{billEvidence},</if>
            <if test="checkInBaseId != null">#{checkInBaseId},</if>
        </trim>
    </insert>

    <update id="updateAjStudentBill" parameterType="AjStudentBill">
        update aj_student_bill
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="studentName != null">student_name = #{studentName},</if>
            <if test="checkInStatisticId != null">check_in_statistic_id = #{checkInStatisticId},</if>
            <if test="checkInBeginDate != null">check_in_begin_date = #{checkInBeginDate},</if>
            <if test="checkInEndDate != null">check_in_end_date = #{checkInEndDate},</if>
            <if test="checkInTimes != null">check_in_times = #{checkInTimes},</if>
            <if test="leaveTimes != null">leave_times = #{leaveTimes},</if>
            <if test="countAsCheckInTimes != null">count_as_check_in_times = #{countAsCheckInTimes},</if>
            <if test="perMonthFee != null">per_month_fee = #{perMonthFee},</if>
            <if test="perDayFee != null">per_day_fee = #{perDayFee},</if>
            <if test="textbookFee != null">textbook_fee = #{textbookFee},</if>
            <if test="foodFee != null">food_fee = #{foodFee},</if>
            <if test="billFee != null">bill_fee = #{billFee},</if>
            <if test="advanceFee != null">advance_fee = #{advanceFee},</if>
            <if test="coupon != null">coupon = #{coupon},</if>
            <if test="actualPerMonthFee != null">actual_per_month_fee = #{actualPerMonthFee},</if>
            <if test="actualPerDayFee != null">actual_per_day_fee = #{actualPerDayFee},</if>
            <if test="actualTextbookFee != null">actual_textbook_fee = #{actualTextbookFee},</if>
            <if test="actualFoodFee != null">actual_food_fee = #{actualFoodFee},</if>
            <if test="acutalBillFee != null">acutal_bill_fee = #{acutalBillFee},</if>
            <if test="billStatus != null">bill_status = #{billStatus},</if>
            <if test="billMode != null">bill_mode = #{billMode},</if>
            <if test="billEvidence != null">bill_evidence = #{billEvidence},</if>
            <if test="checkInBaseId != null ">check_in_base_id = #{checkInBaseId}</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAjStudentBillById" parameterType="Long">
        delete from aj_student_bill where id = #{id}
    </delete>

    <delete id="deleteAjStudentBillByIds" parameterType="String">
        delete from aj_student_bill where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
