<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hysro.ajkeeping.mapper.AjTeacherInfoMapper">
    
    <resultMap type="AjTeacherInfo" id="AjTeacherInfoResult">
        <result property="teacherId"    column="teacher_id"    />
        <result property="teacherName"    column="teacher_name"    />
        <result property="teacherGender"    column="teacher_gender"    />
        <result property="teacherPhone"    column="teacher_phone"    />
        <result property="teacherEmployType"    column="teacher_employ_type"    />
        <result property="teacherFace"    column="teacher_face"    />
        <result property="teacherStatus"    column="teacher_status"    />
    </resultMap>

    <sql id="selectAjTeacherInfoVo">
        select teacher_id, teacher_name, teacher_gender, teacher_phone, teacher_employ_type, teacher_face, teacher_status from aj_teacher_info
    </sql>

    <select id="selectAjTeacherInfoList" parameterType="AjTeacherInfo" resultMap="AjTeacherInfoResult">
        <include refid="selectAjTeacherInfoVo"/>
        <where>  
            <if test="teacherName != null  and teacherName != ''"> and teacher_name like concat('%', #{teacherName}, '%')</if>
            <if test="teacherGender != null "> and teacher_gender = #{teacherGender}</if>
            <if test="teacherPhone != null  and teacherPhone != ''"> and teacher_phone = #{teacherPhone}</if>
            <if test="teacherEmployType != null "> and teacher_employ_type = #{teacherEmployType}</if>
            <if test="teacherFace != null  and teacherFace != ''"> and teacher_face = #{teacherFace}</if>
            <if test="teacherStatus != null "> and teacher_status = #{teacherStatus}</if>
        </where>
    </select>
    
    <select id="selectAjTeacherInfoByTeacherId" parameterType="Long" resultMap="AjTeacherInfoResult">
        <include refid="selectAjTeacherInfoVo"/>
        where teacher_id = #{teacherId}
    </select>

    <insert id="insertAjTeacherInfo" parameterType="AjTeacherInfo" useGeneratedKeys="true" keyProperty="teacherId">
        insert into aj_teacher_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teacherName != null and teacherName != ''">teacher_name,</if>
            <if test="teacherGender != null">teacher_gender,</if>
            <if test="teacherPhone != null and teacherPhone != ''">teacher_phone,</if>
            <if test="teacherEmployType != null">teacher_employ_type,</if>
            <if test="teacherFace != null">teacher_face,</if>
            <if test="teacherStatus != null">teacher_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teacherName != null and teacherName != ''">#{teacherName},</if>
            <if test="teacherGender != null">#{teacherGender},</if>
            <if test="teacherPhone != null and teacherPhone != ''">#{teacherPhone},</if>
            <if test="teacherEmployType != null">#{teacherEmployType},</if>
            <if test="teacherFace != null">#{teacherFace},</if>
            <if test="teacherStatus != null">#{teacherStatus},</if>
         </trim>
    </insert>

    <update id="updateAjTeacherInfo" parameterType="AjTeacherInfo">
        update aj_teacher_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="teacherName != null and teacherName != ''">teacher_name = #{teacherName},</if>
            <if test="teacherGender != null">teacher_gender = #{teacherGender},</if>
            <if test="teacherPhone != null and teacherPhone != ''">teacher_phone = #{teacherPhone},</if>
            <if test="teacherEmployType != null">teacher_employ_type = #{teacherEmployType},</if>
            <if test="teacherFace != null">teacher_face = #{teacherFace},</if>
            <if test="teacherStatus != null">teacher_status = #{teacherStatus},</if>
        </trim>
        where teacher_id = #{teacherId}
    </update>

    <delete id="deleteAjTeacherInfoByTeacherId" parameterType="Long">
        delete from aj_teacher_info where teacher_id = #{teacherId}
    </delete>

    <delete id="deleteAjTeacherInfoByTeacherIds" parameterType="String">
        delete from aj_teacher_info where teacher_id in 
        <foreach item="teacherId" collection="array" open="(" separator="," close=")">
            #{teacherId}
        </foreach>
    </delete>
</mapper>