<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hysro.ajkeeping.mapper.AjGradeMapper">

    <resultMap type="AjGrade" id="AjGradeResult">
        <result property="id"    column="id"    />
        <result property="grade"    column="grade"    />
    </resultMap>

    <sql id="selectAjGradeVo">
        select id, grade from aj_grade
    </sql>

    <select id="selectAjGradeList" parameterType="AjGrade" resultMap="AjGradeResult">
        <include refid="selectAjGradeVo"/>
        <where>
            <if test="grade != null  and grade != ''"> and grade = #{grade}</if>
        </where>
    </select>

    <select id="selectAjGrades" parameterType="AjGrade" resultMap="AjGradeResult">
        <include refid="selectAjGradeVo"/>
    </select>

    <select id="selectAjGradeById" parameterType="Long" resultMap="AjGradeResult">
        <include refid="selectAjGradeVo"/>
        where id = #{id}
    </select>

    <insert id="insertAjGrade" parameterType="AjGrade" useGeneratedKeys="true" keyProperty="id">
        insert into aj_grade
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="grade != null">grade,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="grade != null">#{grade},</if>
         </trim>
    </insert>

    <update id="updateAjGrade" parameterType="AjGrade">
        update aj_grade
        <trim prefix="SET" suffixOverrides=",">
            <if test="grade != null">grade = #{grade},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAjGradeById" parameterType="Long">
        delete from aj_grade where id = #{id}
    </delete>

    <delete id="deleteAjGradeByIds" parameterType="String">
        delete from aj_grade where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
