<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hysro.ajkeeping.mapper.AjSchoolMapper">

    <resultMap type="AjSchool" id="AjSchoolResult">
        <result property="id"    column="id"    />
        <result property="schoolName"    column="school_name"    />
    </resultMap>

    <sql id="selectAjSchoolVo">
        select id, school_name from aj_school
    </sql>

    <select id="selectAjSchoolList" parameterType="AjSchool" resultMap="AjSchoolResult">
        <include refid="selectAjSchoolVo"/>
        <where>
            <if test="schoolName != null  and schoolName != ''"> and school_name like concat('%', #{schoolName}, '%')</if>
        </where>
    </select>

    <select id="selectAjSchools" parameterType="AjSchool" resultMap="AjSchoolResult">
        <include refid="selectAjSchoolVo"/>
    </select>

    <select id="selectAjSchoolById" parameterType="Long" resultMap="AjSchoolResult">
        <include refid="selectAjSchoolVo"/>
        where id = #{id}
    </select>

    <insert id="insertAjSchool" parameterType="AjSchool" useGeneratedKeys="true" keyProperty="id">
        insert into aj_school
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="schoolName != null">school_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="schoolName != null">#{schoolName},</if>
         </trim>
    </insert>

    <update id="updateAjSchool" parameterType="AjSchool">
        update aj_school
        <trim prefix="SET" suffixOverrides=",">
            <if test="schoolName != null">school_name = #{schoolName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAjSchoolById" parameterType="Long">
        delete from aj_school where id = #{id}
    </delete>

    <delete id="deleteAjSchoolByIds" parameterType="String">
        delete from aj_school where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
